



.page-title{
    text-transform: uppercase;
    text-align: center;
}
section{
    display: block;
}
.card-row{
    display: flex;
    gap: var(--margin);
    justify-content: space-between;
}

.card{
    width: 20rem;
    height: 12rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display:flex;
    align-items: flex-end;
    border-radius: var(--margin);
    transition: filter 700ms;
}

.real-estate{
    background-image: url(assets/Medias/img/projects/archviz_1197px.png);
}
.arch-interact{
    background-image: url(assets/Medias/img/projects/website_1197px.png);
}
.game-cinema{
    background-image: url(assets/Medias/img/projects/cinematic_1197px.png);
}
.product-showcase{
    background-image: url(assets/Medias/img/projects/product_1197px.png);
}

.card > p{
    background-color: #000;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    padding: 5px auto 5px;
    border-radius: 0 0 var(--margin) var(--margin);
}

/* hover effects and animations  */
/* .card-row > *{
    transition: filter 700ms;
} */
.card-row:hover > *{
    filter: grayscale(0.7) brightness(0.5);
    transition: filter 1000ms;
}
.card:hover{
    filter: grayscale(0) brightness(1);
    transition: filter 500ms, box-shadow 700ms;
    box-shadow: 0 0 var(--margin-md) -1rem var(--green);
}