
/* course page hero  */


.hero-course-w{
    background-image: url(assets/Medias/img/courses/Course_1_1378x433.png);
    width: 100%;
    height: 25rem;
    border-radius: var(--margin);

}

.hero-course{
    width: 100%;
    display: block;
    padding: var(--margin-md) var(--margin);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: var(--margin);
}

.hero-content{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
}

.hero-body{
    grid-column: 2 / 3;
    grid-row: 1/ 3;
    text-align: center;
    margin: auto;
}

.hero-buttons{
    grid-column: 1/ 2;
    grid-row: 2/3;
    margin: auto auto auto 0;
}



/* courses display section */

.courses{
    display:block;
}
.courses > *{
    margin-bottom: var(--margin-md);
}
.courses > div {
    display: flex;
    justify-content: space-between;
    gap: var(--margin);
}

.platforms > * ,
.best-seller > *{
    width: 35%;
    height: 250px;
    border-radius: var(--margin-sm);
}

.platform-content,
.best-seller-content{
    padding: var(--margin);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
}




.platforms-img,
.best-seller-img{
    width: 60%;
}

.platforms-img{
    background-image: url(../css/assets/Medias/img/courses/Course_1_1378x433.png);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img-desc, 
.description{
    font-size: var(--h3);
    color: var(--title);
    width: 16rem;
}
.description{
    text-align: center;
}

.img-desc{
    display: inline-block;
    margin: 2rem 0 auto;
}
.skillshare{
    width: 10rem;
}
.udemy{
    width: 7rem;
}

.platform-logo{
    display: flex;
    gap: var(--margin-sm)
}




.best-seller-img{
    background-image: url(../css/assets/medias/img/courses/Course_2_773x261.png);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

/* .platforms > * {
    background-color: green;

}
.best-seller > * {
    background-color: aqua;
} */

/* platforms profile */

.platform-profile{
    display:block;
    text-align: center;
}
.platform-profile > *{
    margin-bottom: var(--margin-md);
}

.card-row{
    display: flex;
    justify-content: space-evenly;
}

.card{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card .udemy-pf{
    margin-right: var(--margin-md);
}

.platform img{
    width: 16rem;
}

.card .profile img{
    width: 4rem;
    border-radius: 50%;
}


/* encouragement */
.encouragement{
    display: block;
    text-align: center;
}
