


.project-navigation{
    height: 500px;
    background-color: aqua;
    position: relative;
}
:where(.archviz, .web-app, .cinematic, .showcase){
    height: 500px;
    position: absolute;
    transition: 500ms;
}
:where(.archviz, .web-app, .cinematic, .showcase)[active='false']{
    filter: brightness(0.8);
    clip-path: path('M 0 500 L 300 0 L 400 0 L 100 500 L 0 500');
    width: 500px;
}
:where(.archviz, .web-app, .cinematic, .showcase):hover{
    transform: scale(1.1);
    filter: brightness(1);
}
:where(.archviz, .web-app, .cinematic, .showcase)[active='true']{
    filter: brightness(1); 
    clip-path: path('M 0 500 L 300 0 L 800 0 L 500 500 L 0 500');
    width: 800px;
}

.project-navigation h3{
    position: absolute;
    bottom:0;
    left: 75px;
    transform-origin: 0;
    transform: rotate(-59deg);
    border-top-left-radius: 2rem;
    padding-left: 2rem;
    width: 100%;
    margin-right: 0;
    transition: transform 400ms, background-color 600ms;
    pointer-events: none;
}

h3[active='true']{
    transform: rotate(0deg);
    transition: transform 400ms;
    background-color: var(--black);
}
.archviz{
    background-color: var(--green);
    left:0;
}
.web-app{
    left:100px;
    background-color: navajowhite;

}
.cinematic{
    left: 200px;
    background-color: var(--green);
}
.showcase{
    left: 300px;
    background-color: navajowhite;

}




/* taking care of the dynamic section */

.archviz-section,
.web-app-section,
.cinematic-section,
.showcase-section{
    display: block;
}

.hide{
    display: none;
}





